nav{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );;
}
.jumbotron{
    background-color: rgb(248, 244, 3);
    padding-top: 6rem;
}
.container h2{
    text-align: center;
}
#project{
    background-color: rgb(248, 244, 3);
    
}
#about{
    margin-top: 500;
}
section{
    padding-top: 6rem;
}
#footer{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );;
}